@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
    font-family: "PT Sans, sans-serif";
    font-size: 15pt;
    margin: 0 auto;
}

.allergen {
    font-weight: bold;
}

#selection {
    color: #ffffff;
    background-color: #000000;
    border: 5px dashed #ffffff;
    padding: 5px;
}

#customerinfo {
    border: 5px dashed #000000;
    padding: 5px;
}

#head > img{
    opacity: 0.5;
}

button:hover {
    background-color: blue;
    cursor: pointer;
}

button {
    margin: 50px 100px;
}

table {
    width: 75%;
    margin: 0 auto;
}

section {
    margin: 50px 100px;
}
