@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
    font-family: "PT Sans, sans-serif";
    font-size: 15pt;
}

.allergen {
    font-weight: bold;
}

#selection {
    color: #ffffff;
    background-color: #000000;
}

#customerinfo {

}
